table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    direction: rtl;
    margin: 0 auto;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container {
    padding: 16px;
    text-align: center;
}
